{% set menu = [
  {
    title: 'Startseite',
    url: ''
  }, {
    title: 'Unsere Unternehmen',
    url: ''
  }, {
    title: 'Karriere',
    url: ''
  }, {
    title: 'Kontakt',
    url: ''
  }
] %}