{% extends "template.njk" %}

{% block content %}
  {% include 'hero.njk' %}
  {% include 'partners.njk' %}
  {% include 'info.njk' %}
  {% include 'cta.njk' %}
  {% include 'team.njk' %}
  {% include 'imo-block.njk' %}
{% endblock %}