<section class="relative h-[1200px] text-white">
  <picture class="absolute inset-0 block h-full w-full">
    <img src="{% static './images/hero.jpg' %}" alt="" class="h-full w-full object-cover" />
  </picture>
  <h1 class="text-xl container absolute inset-x-0 top-36 flex flex-col items-start font-medium">
    <span>Gemeinsam.</span>
    <span class="ml-10">Erfolgreich.</span>
    <span class="relative">
      <span> Wachsen </span>
      <a href="#" class="text-base absolute right-0 top-1/2 flex h-24 w-24 -translate-y-1/2 translate-x-1/2 items-center justify-center rounded-full bg-red md:h-36 md:w-36"
        >Get in <br />
        touch</a
      >
    </span>
  </h1>
  <div class="container absolute inset-x-0 bottom-16 flex flex-col md:flex-row justify-between md:border-t md:border-gray-50 pt-8">
    <p class="text-sm">Die IMO Distribution GmbH ist ein dynamischer internationaler Distributor und Großhändler mit Sitz in Hannover. Unser Fokus liegt auf A-Marken der Bereiche Gesundheit, Umwelt & Lifestyle.</p>
    <p class="text-sm">Unser Ziel ist es, eine führende Position auf dem nationalen und internationalen Markt zu erreichen, neue geografische Gebiete mit den besten Lösungen für jeden Kunden zu erschließen</p>
  </div>
</section>
