<section class="section bg-black text-white">
  <div class="container">
    <div class="section-heading">
      <h2 class="section-heading__title">Teil der IMO Group</h2>
      <div class="section-heading__text">
        <p class="section-heading__desc mb-5">Wir setzen auf ein gegenseitiges Geben und Nehmen innerhalb unserer Partnerschaften.</p>
        <p class="section-heading__desc mb-5">
          Durch die Kompetenz und Authentizität in unserem Handeln schaffen wir langfristig und nachhaltig Vertrauen bei unseren Partnern. Wir leben Offenheit und Ehrlichkeit einander gegenüber. Wir warten nicht auf Wunder, sondern sind immer und
          überall proaktiv mitten drin statt nur dabei.
        </p>
      </div>
    </div>
    <picture class="block aspect-w-12 aspect-h-4">
      <img src="{% static './images/imo-block.png' %}" alt="">
    </picture>
  </div>
</section>
