<section class="section container">
  <div class="section-heading">
    <h2 class="section-heading__title">Informationen zum Unternehmen</h2>
    <div class="section-heading__text">
      <p class="section-heading__desc mb-5">The IMO Group is an association of several companies from different industries. Together we are strong, so we rely on mutual give and take within our partnerships. Everyone benefits from everyone.</p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row">
    <swiper-container class="js-info-slider bg-red p-8 text-white" effect="fade" navigation-next-el=".js-i-next-el" navigation-prev-el=".js-i-prev-el">
     
      <div slot="container-end">
        <div class="flex">      
          <button class="js-i-prev-el h-[32px] w-[28px] [&.swiper-button-disabled]:text-[#D3848E]">
            <svg class="block h-full w-full">
              <use xlink:href="./assets/sprite.svg#slider-left_sprite"></use>
            </svg>
          </button>
          <button class="js-i-next-el h-[32px] w-[28px] [&.swiper-button-disabled]:text-[#D3848E]">
            <svg class="block h-full w-full">
              <use xlink:href="./assets/sprite.svg#slider-right_sprite"></use>
            </svg>
          </button>
        </div>
      </div>
      <swiper-slide>
        <div class="flex flex-col gap-8">
          <span class="text-base">01</span>
          <h3 class="text-md">Ein optimales Produktangebot</h3>
          <p class="text-sm opacity-50">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften. Wir halten unsere Versprechen und verteidigen unsere Unternehmenswerte. Wettbewerbsumfeld und Alleinstellungsmerkmale:</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex flex-col gap-8">
          <span class="text-base">02</span>
          <h3 class="text-md">Ein optimales Produktangebot</h3>
          <p class="text-sm opacity-50">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften. Wir halten unsere Versprechen und verteidigen unsere Unternehmenswerte. Wettbewerbsumfeld und Alleinstellungsmerkmale:</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex flex-col gap-8">
          <span class="text-base">03</span>
          <h3 class="text-md">Ein optimales Produktangebot</h3>
          <p class="text-sm opacity-50">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften. Wir halten unsere Versprechen und verteidigen unsere Unternehmenswerte. Wettbewerbsumfeld und Alleinstellungsmerkmale:</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
