<section class="section bg-red text-white">
  <div class="container">
    <div class="section-heading">
      <h2 class="section-heading__title">Imo Distribution Marken portfolio</h2>
      <div class="section-heading__text">
        <p class="section-heading__desc mb-5">Unser Ziel ist es, die Bedürfnisse unseres globalen Netzwerks von Kunden und Lieferanten mit einer sehr gesunden, innovativen und transparenten Organisation optimal zu erfüllen.</p>
        <div class="flex">
          <button class="p-prev-el h-[32px] w-[28px] [&.swiper-button-disabled]:text-[#D3848E]">
            <svg class="block h-full w-full">
              <use xlink:href="./assets/sprite.svg#slider-left_sprite"></use>
            </svg>
          </button>
          <button class="p-next-el h-[32px] w-[28px] [&.swiper-button-disabled]:text-[#D3848E]">
            <svg class="block h-full w-full">
              <use xlink:href="./assets/sprite.svg#slider-right_sprite"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <swiper-container navigation-next-el=".p-next-el" navigation-prev-el=".p-prev-el" space-between="10" class="js-partners-slider overflow-visible">
      <div slot="container-start">
      
      </div>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/1.svg' %}" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/2.svg' %}" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/3.svg' %}" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/4.svg' %}" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/1.svg' %}" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex h-[260px] items-center justify-center">
          <img class="h-full w-full object-cover" src="{% static './images/partners/2.svg' %}" alt="" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
