<section class="section container">
  <div class="section-heading">
    <h2 class="section-heading__title">Imo Distribution Unser team</h2>
    <div class="section-heading__text">
      <p class="section-heading__desc mb-5">Unsere engagierten Mitarbeiter sind unser wertvollstes Kapital und leben unsere Philosophie, wodurch sie ihren eigenen Beitrag zur IMO Distribution leisten können.</p>
      <a href="" class="flex w-full max-w-xs justify-between border-b border-black pb-3 font-medium">
        Contact us
        <svg width="24" height="24">
          <use xlink:href="./assets/sprite.svg#slider-right_sprite"></use>
        </svg>
      </a>
    </div>
  </div>
  <swiper-container slides-per-view="1" init="false" scroll-bar-el=".swiper-scrollbar" class="js-team-slider ">
    <div slot="container-start">
      <div class="swiper-scrollbar"></div>
    </div>
    <swiper-slide class="h-full">
      <div class="flex flex-col">
        <picture class="mb-5 block h-full w-full">
          <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
        </picture>
        <div class="flex flex-col md:flex-row md:justify-between">
          <div class="flex flex-col gap-2">
            <h3 class="text-sm font-medium">Alexander Vulikh</h3>
            <a href="" class="text-sm text-white-50">alex.vulikh@imodistri.com</a>
            <a href="" class="text-sm text-white-50">+49 178 279 46 04</a>
          </div>
          <p class="text-sm font-medium text-red">CEO / Sales Director</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="h-full">
      <div class="flex flex-col">
        <picture class="mb-5 block h-full w-full">
          <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
        </picture>
        <div class="flex flex-col md:flex-row md:justify-between">
          <div class="flex flex-col gap-2">
            <h3 class="text-sm font-medium">Alexander Vulikh</h3>
            <a href="" class="text-sm text-white-50">alex.vulikh@imodistri.com</a>
            <a href="" class="text-sm text-white-50">+49 178 279 46 04</a>
          </div>
          <p class="text-sm font-medium text-red">CEO / Sales Director</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="h-full">
      <div class="flex flex-col">
        <picture class="mb-5 block h-full w-full">
          <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
        </picture>
        <div class="flex flex-col md:flex-row md:justify-between">
          <div class="flex flex-col gap-2">
            <h3 class="text-sm font-medium">Alexander Vulikh</h3>
            <a href="" class="text-sm text-white-50">alex.vulikh@imodistri.com</a>
            <a href="" class="text-sm text-white-50">+49 178 279 46 04</a>
          </div>
          <p class="text-sm font-medium text-red">CEO / Sales Director</p>
        </div>
      </div>
    </swiper-slide>
   
  </swiper-container>
</section>
<picture class="block aspect-w-16 aspect-h-9 w-full">
  <img src="{% static './images/image.jpg' %}" class="w-full h-full object-cover" alt="">
</picture>